@model Category
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Count = (ViewBag.Count % 12 > 1) ? ViewBag.Count / 12 + 1 : ViewBag.Count / 12;
}

<!--archive header-->
<div class="archive-header pt-50 text-center">
    <div class="container">
        <h2 class="font-weight-900">@Model.Name</h2>
        <div class="breadcrumb">
            <a href="/" rel="nofollow">Trang chủ</a>
            <span></span> @Model.Name
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-50"></div>
    </div>
</div>
<div class="container">
    <div class="loop-grid mb-30">
        <div class="row" id="category-post">
            <div class="col-lg-8 mb-30">
                <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                    <div class="arrow-cover"></div>
                    <div class="slide-fade">
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-50">
            <div class="col-12">
                <div class="pagination-area mb-30 wow fadeInUp animated">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_left"></i></a></li>
                            }
                            @for (int i = 1; i <= Count; i++)
                            {
                                <li class="page-item@(i == 1 ? " active" : "")"><a class="page-link">@(i < 10 ? ("0" + i) : i + "")</a></li>
                            }
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_right"></i></a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var PAGENOW = 1;
            var PAGEMAX = $("ul.pagination.justify-content-start li").length - 2;
            LoadCategoryPosts(PAGENOW);

            $(".page-link").click(function () {
                if (!$(this).find("i").length) {
                    PAGENOW = parseInt($(this).html())
                }
                else {
                    var i = $(this).find("i");
                    if (i.hasClass("arrow_right")) {
                        if (PAGENOW != PAGEMAX) {
                            PAGENOW++;
                        }
                    }
                    else {
                        if (PAGENOW != 1) {
                            PAGENOW--;
                        }
                    }
                }

                LoadCategoryPosts(PAGENOW);
                $('html, body').animate({
                    scrollTop: $(".breadcrumb").offset().top - 55
                }, 1000);
            });
        });

        function LoadCategoryPosts(PAGENOW) {
            $.ajax({
                url: "/Blog/GetPostByCategory",
                method: "GET",
                dataType: "json",
                data: {
                    categoryId: '@Model.Id',
                    pageNumber: PAGENOW
                },
                success: function (data) {
                    var slide = '';
                    var html = '';

                    $(data).each(function (index, post) {
                        if (PAGENOW == 1) {
                            if (index < 2) {
                                slide += '<div class="position-relative post-thumb">'
                                    + '<div class="thumb-overlay img-hover-slide position-relative" style = "background-image: url(' + post.imageLink + ')">'
                                    + '<a class="img-link" href="/Blog/Single/' + post.link + '"></a>';

                                if (post.type != null && post.type != "") {
                                    slide += '<span class="top-left-icon bg-' + (post.type == "heart" ? "secondary" : post.type == "camera" ? "success" : post.type == "headphones" ? "info" : post.type == "star" ? "warning" : "danger") + '">'
                                        + '<i class="elegant-icon icon_' + post.type + '" ></i>'
                                        + '</span > ';
                                }

                                slide += '<div class="post-content-overlay text-white ml-30 mr-30 pb-30">'
                                    + '<div class="entry-meta meta-0 font-small mb-20">'
                                    + '<a href="/Blog/Category/' + post.categoryId + '"><span class="post-cat ' + post.categoryColor + ' text-uppercase">' + post.category + '</span></a>'
                                    + '</div>'
                                    + '<h3 class="post-title font-weight-900 mb-20">'
                                    + '<a class="text-white" href="/Blog/Single/' + post.link + '">' + post.title + '</a>'
                                    + '</h3>'
                                    + '<div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">'
                                    + '<span class="post-on">' + post.readMinute + ' phút đọc</span>'
                                    + '<span class="hit-count has-dot">' + post.views + ' lượt xem</span>'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>';
                            }
                            else {
                                html += RenderHTML(post);
                            }
                        }
                        else {
                            html += RenderHTML(post);
                        }
                    });

                    if (PAGENOW == 1) {
                        $(".slide-fade").html(slide);
                        $("#category-post").find(".col-lg-8.mb-30").show();
                    }
                    else {
                        $("#category-post").find(".col-lg-8.mb-30").hide();
                    }
                    setTimeout(function () {
                        $("#category-post").append(html);
                        $(".page-item").removeClass("active");
                        $(".page-link:contains(" + PAGENOW + ")").parent().addClass("active");
                    }, 500);
                }
            });
        }

        function RenderHTML(post) {
            var link = '@Configuration["AppSetting:HostURL"]/Blog/Single/' + post.link;
            var ev = "'width=500,height=500,top=300px,left=300px'";

            var html = '<article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">'
                +       '<div class="post-card-1 border-radius-10 hover-up">'
                +           '<div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(' + post.imageLink + ')">'
                +               '<a class="img-link" href="/Blog/Single/' + post.link + '"></a>';

                if (post.type != null && post.type != "") {
                    html += '<span class="top-left-icon bg-' + (post.type == "heart" ? "secondary" : post.type == "camera" ? "success" : post.type == "headphones" ? "info" : post.type == "star" ? "warning" : "danger") + '">'
                            + '<i class="elegant-icon icon_' + post.type + '" ></i>'
                            + '</span > ';
                }

           html +=               '<ul class="social-share">'
                +                   '<li><a href="#"><i class="elegant-icon social_share"></i></a></li>'
                +                   '<li><a class="fb" href="//www.facebook.com/sharer/sharer.php?u=https://' + link + '" title="Chia sẻ lên Facebook" target="_blank" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_facebook"></i></a></li>'
                +                   '<li><a class="tw" href="//twitter.com/share?url=https://' + link + '" target="_blank" title="Tweet now" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_twitter"></i></a></li>'
                +                   '<li><a class="pt" href="//pinterest.com/pin/create/button/?url=' + link + '" target="_blank" title="Pin it" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_pinterest"></i></a></li>'
                +               '</ul>'
                +           '</div>'
                +           '<div class="post-content p-30">'
                +               '<div class="entry-meta meta-0 font-small mb-10">'
                +                   '<a href="/Blog/Category/' + post.categoryId + '"><span class="post-cat ' + post.categoryColor + '">' + post.category + '</span></a>'
                +               '</div>'
                +               '<div class="d-flex post-card-content">'
                +                   '<h5 class="post-title mb-20 font-weight-900">'
                +                       '<a href="/Blog/Single/' + post.link + '">' + post.title + '</a>'
                +                   '</h5>'
                +                   '<div class="entry-meta meta-1 float-left font-x-small text-uppercase">'
                +                       '<span class="post-on">' + ConvertToPostDate(post.createdDate) + '</span>'
                +                       '<span class="time-reading has-dot">' + post.readMinute + ' phút đọc</span>'
                +                       '<span class="post-by has-dot">' + post.views + ' lượt xem</span>'
                +                   '</div>'
                +               '</div>'
                +           '</div>'
                +       '</div>'
                + '</article>';

            return html;
        }
    </script>
}
<style>
    .page-item.active .page-link {
        background-color: #007bff !important;
    }
</style>