@model Stories.VM.SearchResultViewModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] monthString = { "giêng", "hai", "ba", "tư", "năm", "sáu", "bảy", "tám", "chín", "mười", "mười một", "mười hai" };
}

<!--archive header-->
<div class="archive-header pt-50">
    <div class="container">
        <h2 class="font-weight-900">Kết quả tìm kiếm</h2>
        <div class="breadcrumb" style="text-transform: none;">
            Tìm thấy <strong>@Model.Total</strong> bài viết cho từ khóa <strong>"@Model.KeyWord" </strong>
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-50"></div>
    </div>
</div>
<div class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-module-3">
                    <div class="loop-list loop-list-style-1">
                        @foreach (var post in Model.SearchResultPosts)
                        {
                            <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(@post.ImageLink)">
                                                <a class="img-link" href="/Blog/Single/@post.Link"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="https://www.facebook.com/sharer/sharer.php?u=@Configuration["AppSetting:HostURL"]/Blog/Single/@post.Link" title="Chia sẻ lên Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="/Blog/Category/@post.CategoryId"><span class="post-cat @post.CategoryColor">@post.Category</span></a>
                                            </div>
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a href="/Blog/Single/@post.Link">@post.Title</a>
                                            </h5>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">@post.CreatedDate.ToString("dd-MM").Replace("-", " tháng ")</span>
                                                <span class="time-reading has-dot">@post.ReadMinute phút đọc</span>
                                                <span class="post-by has-dot">@post.Views lượt xem</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
                <div class="pagination-area mb-30 wow fadeInUp animated">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_left"></i></a></li>
                            @for (int i = 1; i <= Model.Total/8 + 1; i++)
                            {
                                <li class="page-item @(i == 1 ? "active" : "" )"><a class="page-link">@i</a></li>
                            }
                            <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                        <img class="about-author-img mb-25" src="/imgs/authors/author.jpg" alt="">
                        <h5 class="mb-20">Hello, I'm Steven</h5>
                        <p class="font-medium text-muted">Hi, I’m Stenven, a Florida native, who left my career in corporate wealth management six years ago to embark on a summer of soul searching that would change the course of my life forever.</p>
                        <strong>Follow me: </strong>
                        <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                            <li class="list-inline-item"><a class="fb" href="#" target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                            <li class="list-inline-item"><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                            <li class="list-inline-item"><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                        <div class="widget-header-1 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Phổ biến nhất</h5>
                        </div>
                        <div class="post-block-list post-module-1">
                            <ul class="list-post">
                                @foreach (var post in Model.MostPopularPosts)
                                {
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="/Blog/Single/@post.Link">@(post.Title.Length > 50 ? (post.Title.Substring(0, Math.Min(post.Title.Length, 47)) + "...") : post.Title)</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">@(post.CreatedDate.ToString("dd/MM").Replace("/", " tháng "))</span>
                                                    <span class="post-by has-dot">@post.Views lượt xem</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="/Blog/Single/@post.Link">
                                                    <img src="@post.ImageLink" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                        <div class="widget-header-1 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Instagram</h5>
                        </div>
                        <div class="instagram-gellay">
                            <ul class="insta-feed">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            LoadInstagramPost();
        });
    </script>
}