@model Stories.VM.SearchResultViewModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = Model.Tag ? "Tag" : "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] monthString = { "giêng", "hai", "ba", "tư", "năm", "sáu", "bảy", "tám", "chín", "mười", "mười một", "mười hai" };
    var Count = (Model.Total % 8 > 1) ? Model.Total / 8 + 1 : Model.Total / 8;
}

<!--archive header-->
<div class="archive-header pt-50">
    <div class="container">
        <h2 class="font-weight-900">Kết quả tìm kiếm</h2>
        <div class="breadcrumb" style="text-transform: none;">
            Tìm thấy <strong>@Model.Total</strong> bài viết cho @(Model.Tag ? "hashtag" : "từ khóa") <strong>"@(Model.Tag ? Model.Hashtag : Model.KeyWord)" </strong>
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-50"></div>
    </div>
</div>
<div class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-module-3">
                    <div class="loop-list loop-list-style-1" id="search-result-posts">
                        @foreach (var post in Model.SearchResultPosts)
                        {
                            var link = Configuration["AppSetting:HostURL"] + "/Blog/Single/" + post.Link;
                            <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(@post.ImageLink)">
                                                <a class="img-link" href="/Blog/Single/@post.Link"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="//www.facebook.com/sharer/sharer.php?u=https://@link" title="Chia sẻ lên Facebook" target="_blank" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="//twitter.com/share?url=https://@link" target="_blank" title="Tweet now" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="//pinterest.com/pin/create/button/?url=@link" target="_blank" title="Pin it" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="/Blog/Category/@post.CategoryId"><span class="post-cat @post.CategoryColor">@post.Category</span></a>
                                            </div>
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a href="/Blog/Single/@post.Link">@post.Title</a>
                                            </h5>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">@post.CreatedDate.ToString("dd-MM").Replace("-", " tháng ")</span>
                                                <span class="time-reading has-dot">@post.ReadMinute phút đọc</span>
                                                <span class="post-by has-dot">@post.Views lượt xem</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
                <div class="pagination-area mb-30 wow fadeInUp animated">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_left"></i></a></li>
                            }
                            @for (int i = 1; i <= Count; i++)
                            {
                                <li class="page-item@(i == 1 ? " active" : "")"><a class="page-link">@(i < 10 ? ("0" + i) : i + "")</a></li>
                            }
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_right"></i></a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="sidebar-widget widget-about mb-50 border-radius-5 has-border wow fadeInUp animated">
                        <div class="fb-page" data-href="https://www.facebook.com/BLACKCrewNeverSurrender/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/BLACKCrewNeverSurrender/" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/BLACKCrewNeverSurrender/">ＫＸＧＥ Presents BLΛƆK Crew</a>
                            </blockquote>
                        </div>
                    </div>
                    <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                        <div class="widget-header-1 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Phổ biến nhất</h5>
                        </div>
                        <div class="post-block-list post-module-1">
                            <ul class="list-post">
                                @foreach (var post in Model.MostPopularPosts)
                                {
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="/Blog/Single/@post.Link">@(post.Title.Length > 50 ? (post.Title.Substring(0, Math.Min(post.Title.Length, 47)) + "...") : post.Title)</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">@(post.CreatedDate.ToString("dd/MM").Replace("/", " tháng "))</span>
                                                    <span class="post-by has-dot">@post.Views lượt xem</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="/Blog/Single/@post.Link">
                                                    <img src="@post.ImageLink" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                        <div class="widget-header-1 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Instagram</h5>
                        </div>
                        <div class="instagram-gellay">
                            <ul class="insta-feed">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var PAGENOW = 1;
            var PAGEMAX = $("ul.pagination.justify-content-start li").length - 2;
            LoadInstagramPost();

            $(".page-link").click(function () {
                if (!$(this).find("i").length) {
                    PAGENOW = parseInt($(this).html())
                }
                else {
                    var i = $(this).find("i");
                    if (i.hasClass("arrow_right")) {
                        if (PAGENOW != PAGEMAX) {
                            PAGENOW++;
                        }
                    }
                    else {
                        if (PAGENOW != 1) {
                            PAGENOW--;
                        }
                    }
                }

                LoadSearchResultPosts(PAGENOW);
                $('html, body').animate({
                    scrollTop: $(".breadcrumb").offset().top - 75
                }, 1000);
            });
        });

        function LoadSearchResultPosts(PAGENOW) {
            $.ajax({
                url: "/Blog/GetSearchResultPosts",
                method: "GET",
                dataType: "json",
                data: {
                    keyword: '@Model.KeyWord',
                    pageNumber: PAGENOW
                },
                success: function (data) {
                    var html = '';

                    $(data).each(function (index, post) {
                        var link = '@Configuration["AppSetting:HostURL"]/Blog/Single/' + post.link;
                        var ev = "'width=500,height=500,top=300px,left=300px'";

                        html += '<article class="hover-up-2 transition-normal wow fadeInUp animated">'
                            + '<div class="row mb-40 list-style-2">'
                            + '<div class="col-md-4">'
                            + '<div class="post-thumb position-relative border-radius-5">'
                            + '<div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(' + post.imageLink + ')">'
                            + '<a class="img-link" href="/Blog/Single/' + post.link + '"></a>'
                            + '</div>'
                            + '<ul class="social-share">'
                            + '<li><a href="#"><i class="elegant-icon social_share"></i></a></li>'
                            + '<li><a class="fb" href="//www.facebook.com/sharer/sharer.php?u=https://' + link + '" title="Chia sẻ lên Facebook" target="_blank" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_facebook"></i></a></li>'
                            + '<li><a class="tw" href="//twitter.com/share?url=https://' + link + '" target="_blank" title="Tweet now" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_twitter"></i></a></li>'
                            + '<li><a class="pt" href="//pinterest.com/pin/create/button/?url=' + link + '" target="_blank" title="Pin it" onclick="window.open(this.href,this.title,' + ev + '); return false;"><i class="elegant-icon social_pinterest"></i></a></li>'
                            + '</ul>'
                            + '</div>'
                            + '</div>'
                            + '<div class="col-md-8 align-self-center">'
                            + '<div class="post-content">'
                            + '<div class="entry-meta meta-0 font-small mb-10">'
                            + '<a href="/Blog/Category/' + post.categoryId + '"><span class="post-cat ' + post.categoryColor + '">' + post.category + '</span></a>'
                            + '</div>'
                            + '<h5 class="post-title font-weight-900 mb-20">'
                            + '<a href="/Blog/Single/' + post.link + '">' + post.title + '</a>'
                            + '</h5>'
                            + '<div class="entry-meta meta-1 float-left font-x-small text-uppercase">'
                            + '<span class="post-on">' + ConvertToPostDate(post.createdDate) + '</span>'
                            + '<span class="time-reading has-dot">' + post.readMinute + ' phút đọc</span>'
                            + '<span class="post-by has-dot">' + post.views + ' lượt xem</span>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</article>';
                    });

                    $("#search-result-posts").html(html);
                    $(".page-item").removeClass("active");
                    $(".page-link:contains(" + PAGENOW + ")").parent().addClass("active");
                }
            });
        }
    </script>
}