@model Stories.VM.BlogSingleViewModel
@using System.Text.RegularExpressions;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] monthString = { "giêng", "hai", "ba", "tư", "năm", "sáu", "bảy", "tám", "chín", "mười", "mười một", "mười hai" };
    var tmp_content = Regex.Replace(Model.Content.Replace("\"", "'").Replace("\n", " "), @"\s+", " ");
    tmp_content = tmp_content.Length > 150 ? (tmp_content.Substring(0, Math.Min(tmp_content.Length, 147)) + "...") : tmp_content;
    var content = Html.Raw(tmp_content);
}

@section meta {
    <meta property="og:url" content="@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" />
    <meta property="og:description" content="@content" />
    <meta name="description" content="@content" />
    <meta property="og:image" content="@Model.ImageLink" />
}

<div class="container single-content">
    <div class="entry-header entry-header-style-1 mb-50 pt-50">
        <h1 class="entry-title mb-50 font-weight-900">@Model.Title</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="entry-meta align-items-center meta-2 font-small color-muted">
                    <p class="mb-5">
                        <a class="author-avatar" href="/Author/@Model.AuthorUsername"><img class="img-circle" src="@Model.AuthorAvatar" alt=""></a>
                        Bởi <a href="/Author/@Model.AuthorUsername"><span class="author-name font-weight-bold">@Model.AuthorName</span></a>
                    </p>
                    <span class="mr-10"> @Model.CreatedDate.ToString("dd-MM/yyyy").Replace("-", " tháng ").Replace("/", " năm ")</span>
                    <span class="has-dot"> @Model.ReadMinute phút đọc</span>
                </div>
            </div>
            <div class="col-md-6 text-right d-none d-md-inline">
                <ul class="header-social-network d-inline-block list-inline mr-15">
                    <li class="list-inline-item text-muted"><span>Chia sẻ bài viết: </span></li>
                    <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="//www.facebook.com/sharer/sharer.php?u=https://@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_facebook"></i></a></li>
                    <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="//twitter.com/share?url=https://@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_twitter "></i></a></li>
                    <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank" href="//pinterest.com/pin/create/button/?url=@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_pinterest "></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--end single header-->
    <figure class="image mb-30 m-auto text-center border-radius-10">
        <img class="border-radius-10" src="@Model.ImageLink" alt="post-title">
    </figure>
    <!--figure-->
    <article class="entry-wraper mb-50">
        <div class="entry-main-content dropcap wow fadeIn animated">
            <hr class="wp-block-separator is-style-dots">
            <span id="content">@Html.Raw(Model.Content)</span>
            <hr class="section-divider">
        </div>
        <div class="entry-bottom mt-50 mb-30 wow fadeIn animated">
            <div class="tags">
                <span>Tags: </span>
                @foreach (var tag in Model.Tag.Split(" "))
                {
                <a href="/Blog/Tag/@tag" rel="tag">@tag</a>
                }
            </div>
        </div>
        <div class="single-social-share clearfix wow fadeIn animated">
            <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                <span class="hit-count mr-15" id="comment-count"><i class="elegant-icon icon_comment_alt mr-5"></i>@Model.Comments.Count bình luận</span>
                <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>268 lượt thích</span>
                <span class="hit-count"><i class="elegant-icon icon_star-half_alt mr-5"></i>Đánh giá: 9/10</span>
            </div>
            <ul class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4">
                <li class="list-inline-item text-muted"><span>Chia sẻ bài viết: </span></li>
                <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="//www.facebook.com/sharer/sharer.php?u=https://@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_facebook"></i></a></li>
                <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="//twitter.com/share?url=https://@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_twitter "></i></a></li>
                <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank" href="//pinterest.com/pin/create/button/?url=@Configuration["AppSetting:HostURL"]/Blog/Single/@Model.Link" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_pinterest "></i></a></li>
            </ul>
        </div>
        <!--author box-->
        <div class="author-bio p-30 mt-50 border-radius-10 bg-white wow fadeIn animated">
            <div class="author-image mb-30">
                <a href="/Author/@Model.AuthorUsername"><img src="@Model.AuthorAvatar" alt="" class="avatar"></a>
            </div>
            <div class="author-info">
                <h4 class="font-weight-bold mb-20">
                    <span class="vcard author"><span class="fn"><a href="/Author/@Model.AuthorUsername" title="Posted by @Model.AuthorName" rel="author">@Model.AuthorName</a></span></span>
                </h4>
                <h5 class="text-muted">Về tác giả</h5>
                <div class="author-description text-muted">@Model.AuthorDescription</div>
                <a href="/Author/@Model.AuthorUsername" class="author-bio-link mb-md-0 mb-3">Xem tất cả bài viết (@Model.AuthorPostCount)</a>
                <div class="author-social">
                    <ul class="author-social-icons">
                        <li class="author-social-link-facebook"><a href="#" target="_blank"><i class="ti-facebook"></i></a></li>
                        <li class="author-social-link-twitter"><a href="#" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                        <li class="author-social-link-pinterest"><a href="#" target="_blank"><i class="ti-pinterest"></i></a></li>
                        <li class="author-social-link-instagram"><a href="#" target="_blank"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--related posts-->
        <div class="related-posts">
            <div class="post-module-3">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Bài viết liên quan</h5>
                </div>

                @if (Model.RelatedPosts.Count == 0)
                {
                    <div class="loop-list loop-list-style-1 comment-empty">
                        <p class="comment">
                            Không có bài viết liên quan!
                        </p>
                    </div>
                }
                else
                {
                    <div class="loop-list loop-list-style-1">
                        @foreach (var post in Model.RelatedPosts)
                        {
                            var link = Configuration["AppSetting:HostURL"] + "/Blog/Single/" + post.Link;

                            <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(@post.ImageLink)">
                                                <a class="img-link" href="/Blog/Single/@post.Link"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="//www.facebook.com/sharer/sharer.php?u=https://@link" title="Chia sẻ lên Facebook" target="_blank" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="//twitter.com/share?url=https://@link" target="_blank" title="Tweet now" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="//pinterest.com/pin/create/button/?url=@link" target="_blank" title="Pin it" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="/Blog/Category/@post.CategoryId"><span class="post-cat @post.CategoryColor">@post.Category</span></a>
                                            </div>
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a href="/Blog/Single/@post.Link">@post.Title</a>
                                            </h5>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">@post.CreatedDate.Day tháng @monthString[post.CreatedDate.Month - 1]</span>
                                                <span class="time-reading has-dot">@post.ReadMinute phút đọc</span>
                                                <span class="post-by has-dot">@post.Views lượt xem</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                }   
                </div>
        </div>
        <!--More posts-->
        <div class="single-more-articles border-radius-5">
            <div class="widget-header-2 position-relative mb-30">
                <h5 class="mt-5 mb-30">Có thể bạn sẽ thích</h5>
                <button class="single-more-articles-close"><i class="elegant-icon icon_close"></i></button>
            </div>
            <div class="post-block-list post-module-1 post-module-5">
                <ul class="list-post">
                    @foreach (var post in Model.MorePosts)
                    {
                        <li class="mb-30">
                            <div class="d-flex hover-up-2 transition-normal">
                                <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                    <a class="color-white" href="/Blog/Single/@post.Link">
                                        <img src="@post.ImageLink" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="/Blog/Single/@post.Link">@post.Title</a></h6>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on">@post.CreatedDate.Day tháng @monthString[post.CreatedDate.Month - 1]</span>
                                        <span class="post-by has-dot">@post.ReadMinute phút đọc</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!--Comments-->
        <div class="comments-area">
            <div class="widget-header-2 position-relative mb-30 comment-prepend">
                <h5 class="mt-5 mb-30">Bình luận</h5>
            </div>
            @{
                if (Model.Comments.Count == 0)
                {
                    <div class="comment-list wow fadeIn animated comment-empty">
                        <p class="comment">
                            Chưa có bình luận nào!
                        </p>
                    </div>
                }
                else
                {
                    foreach (var cmt in Model.Comments)
                    {
                        DateTime cd = cmt.CreatedDate;
                        <div class="comment-list wow fadeIn animated">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="@cmt.Avatar" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            @cmt.Content
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="@(!string.IsNullOrEmpty(cmt.Username) ? "/Author/" + cmt.Username : "#")">@cmt.Name</a>
                                                </h5>
                                                <p class="date">@(cd.Day + " tháng " + monthString[cd.Month - 1] + ", " + cd.Year + " lúc " + (cd.Hour - 7) + ":" + cd.Minute)</p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply">Trả lời</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
        <!--comment form-->
        <div class="comment-form wow fadeIn animated">
            <div class="widget-header-2 position-relative mb-30">
                <h5 class="mt-5 mb-30">Để lại bình luận</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Viết bình luận..."></textarea>
                    </div>
                </div>
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Tên">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" name="website" id="website" type="text" placeholder="Website (Tùy chọn)">
                        </div>
                    </div>
                    }
                }
            </div>
            <div class="form-group">
                <button type="button" class="btn button button-contactForm">Gửi Bình Luận</button>
            </div>
        </div>
    </article>
</div>
<!--container-->
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-fancybox="gallery"]').fancybox({
                buttons: [
                    "zoom",
                    //"share",
                    "slideShow",
                    //"fullScreen",
                    //"download",
                    "thumbs",
                    "close"
                ],
                protect: true,
                afterShow: function () {
                    $("#scrollUp").fadeOut("slow");
                    $(".scroll-progress").fadeOut("slow");
                },
                afterClose: function () {
                    $("#scrollUp").fadeIn("slow");
                    $(".scroll-progress").fadeIn("slow");
                }
            });

            $(".button-contactForm").click(function () {
                var pattern = @Html.Raw(@"/^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i");
                var isAuth = @(User.Identity.IsAuthenticated ? "true" : "false");
                var content = $("#comment").val();
                var id = null, name = null, email = null, website = null;

                if (isAuth) {
                    id = '@(!User.Identity.IsAuthenticated ? "" : User.Claims.FirstOrDefault(c => c.Type == "Id").Value)';
                } else {
                    name = $("#name").val();
                    email = $("#email").val();
                    website = $("#website").val();
                }

                if (content.length < 25 || (id == null && (name.length < 5 || !pattern.test(email)))) {
                    var arr = [];
                    if (content.length < 25) arr.push("• Bình luận không đủ độ dài");
                    if (name.length < 5) arr.push("• Tên là bắt buộc");
                    if (!pattern.test(email)) arr.push("• Email không hợp lệ");
                    iziToast.warning({
                        title: '',
                        message: arr.join("<br /><br />"),
                    });
                }
                else {
                    var request = {
                        IsAuth: isAuth,
                        UserId: id,
                        PostID: '@Model.Id',
                        Name: name,
                        Email: email,
                        Website: website,
                        Content: content
                    };

                    $.ajax({
                        url: "/Comment/CreateComment",
                        type: "POST",
                        dataType: "json",
                        data: {
                            request: request
                        },
                        success: function (data) {
                            var cmtCount = parseInt($("#comment-count").text().split(" bình luận")[0]);
                            var i = '<i class="elegant-icon icon_comment_alt mr-5"></i>';

                            iziToast.success({
                                title: '',
                                message: 'Gửi bình luận thành công!',
                            });

                            if ($("div.comment-empty").length > 0) {
                                $("div.comment-empty").remove();
                            }

                            var cmt = data.comment;

                            $(".comment-prepend").after('<div class="comment-list wow fadeIn animated">'
                                + '<div class="single-comment justify-content-between d-flex">'
                                + '<div class="user justify-content-between d-flex">'
                                +    '<div class="thumb">'
                                + '<img src="' + cmt.avatar +'" alt="">'
                                + '</div>'
                                +        '<div class="desc">'
                                +            '<p class="comment">'
                                + cmt.content
                                +    '</p>'
                                +            '<div class="d-flex justify-content-between">'
                                +                '<div class="d-flex align-items-center">'
                                +                    '<h5>'
                                + '<a href="' + (cmt.username != null ? ("/Author/" + cmt.username) : "#" ) + '">' + cmt.name + '</a>'
                                +                    '</h5>'
                                + '<p class="date">' + convertToCommentDate(cmt.createdDate) + '</p>'
                                +                '</div>'
                                +                '<div class="reply-btn">'
                                +                    '<a href="#" class="btn-reply">Reply</a>'
                                +                '</div>'
                                +            '</div>'
                                +        '</div>'
                                +    '</div>'
                                + '</div>'
                                + '</div>');

                            $("#comment-count").html(i + (cmtCount + 1) + " bình luận");

                            $("input").val("");
                            $("textarea").val("");
                        },
                        beforeSend: function () {
                            $(".preloader").show();
                        },
                        complete: function () {
                            $(".preloader").hide();
                        }
                    });
                }
            });
        });

        function convertToCommentDate(date) {
            var monthString = ["giêng", "hai", "ba", "tư", "năm", "sáu", "bảy", "tám", "chín", "mười", "mười một", "mười hai"];
            var d = date.split("-");
            var d1 = d[2].split("T");
            var d2 = date.split("T");
            var d3 = d2[1].split(":");
            tmpD = d1[0] + " tháng " + monthString[d[1] - 1] + ", " + d[0] + " lúc " + d3[0] + ":" + d3[1];
            return tmpD;
        }
    </script>
}

<style>
    .blocks-gallery-item a img {
        width: 256px;
        height: 256px;
        object-fit: cover;
    }

    .fancybox-progress {
        background: #024dff !important;
    }

    .fancybox-thumbs__list a:before {
        border: 6px solid #024dff !important;
    }

    .comment-empty {
        text-align: center;
        margin-top: 55px;
    }

        .comment-empty .comment {
            font-size: 18px !important;
        }

    #content {
        font-size: 1.1em;
        line-height: 1.75;
        margin-bottom: 1.2em;
        margin-top: 0;
        font-weight: 400;
        white-space: pre-line;
    }
</style>
