@model User
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = (Model.IsAuthor ? "Tác giả " : "Người dùng ") + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MostPopularPosts = ViewBag.MostPopularPost as List<Post>;
    var Count = (ViewBag.Count % 8 > 1) ? ViewBag.Count / 8 + 1 : ViewBag.Count / 8;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <!--author box-->
            <div class="author-bio mb-50 bg-white p-30 border-radius-10">
                <div class="author-image mb-30">
                    <a href="/Author/@Model.Username"><img src="@Model.Avatar" alt="" class="avatar"></a>
                </div>
                <div class="author-info">
                    <h3 class="font-weight-900">
                        <span class="vcard author"><span class="fn"><a href="/Author/@Model.Username" title="Posts by @Model.Name" rel="author">@Model.Name</a></span></span>
                    </h3>
                    <h5 class="text-muted">Về @(Model.IsAuthor ? "tác giả" : "người dùng")</h5>
                    <div class="author-description text-muted">
                        @Model.Description
                    </div>
                    <strong class="text-muted">Theo dõi: </strong>
                    <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                        <li class="list-inline-item"><a class="fb" href="#" target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                        <li class="list-inline-item"><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                        <li class="list-inline-item"><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            @if (Model.IsAuthor)
            {
                <div class="post-module-2">
                    <div class="widget-header-2 position-relative mb-30 wow fadeInUp animated">
                        <h5 class="mt-5 mb-30">Bài viết bởi @Model.Name</h5>
                    </div>
                    <div class="loop-list loop-list-style-1" id="divHead">
                        <div class="row" id="author-post-page-1">
                        </div>
                    </div>
                </div>
                <div class="post-module-3">
                    <div class="loop-list loop-list-style-1" id="authorPosts">
                    </div>
                </div>
                <div class="pagination-area mb-30 wow fadeInUp animated">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_left"></i></a></li>
                            }
                            @for (int i = 1; i <= Count; i++)
                            {
                                <li class="page-item@(i == 1 ? " active" : "")"><a class="page-link">@(i < 10 ? ("0" + i) : i + "")</a></li>
                            }
                            @if (Count > 1)
                            {
                                <li class="page-item"><a class="page-link"><i class="elegant-icon arrow_right"></i></a></li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
        <div class="col-lg-4 primary-sidebar sticky-sidebar">
            <div class="widget-area">
                <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Phổ biến nhất</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post">
                            @foreach (var post in MostPopularPosts)
                            {
                                <li class="mb-30 wow fadeInUp animated">
                                    <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="/Blog/Single/@post.Link">@(post.Title.Length > 50 ? (post.Title.Substring(0, Math.Min(post.Title.Length, 47)) + "...") : post.Title)</a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">@(post.CreatedDate.ToString("dd/MM").Replace("/", " tháng "))</span>
                                                <span class="post-by has-dot">@post.Views lượt xem</span>
                                            </div>
                                        </div>
                                        <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="/Blog/Single/@post.Link">
                                                <img src="@post.ImageLink" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Last comments</h5>
                    </div>
                    <div class="post-block-list post-module-2">
                        <ul class="list-post">
                            <li class="mb-30 wow fadeInUp animated">
                                <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html.htm">
                                            <img src="/imgs/authors/author-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <p class="mb-10">
                                            <a href="author.html"><strong>David</strong></a>
                                            <span class="ml-15 font-small text-muted has-dot">16 Jan 2020</span>
                                        </p>
                                        <p class="text-muted font-small">A writer is someone for whom writing is more difficult than...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30 wow fadeInUp animated">
                                <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html.htm">
                                            <img src="/imgs/authors/author-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <p class="mb-10">
                                            <a href="author.html"><strong>Kokawa</strong></a>
                                            <span class="ml-15 font-small text-muted has-dot">12 Feb 2020</span>
                                        </p>
                                        <p class="text-muted font-small">Striking pewter studded epaulettes silver zips</p>
                                    </div>
                                </div>
                            </li>
                            <li class="wow fadeInUp animated">
                                <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html.htm">
                                            <img src="/imgs/news/thumb-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <p class="mb-10">
                                            <a href="author.html"><strong>Tsukasi</strong></a>
                                            <span class="ml-15 font-small text-muted has-dot">18 May 2020</span>
                                        </p>
                                        <p class="text-muted font-small">Workwear bow detailing a slingback buckle strap</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Instagram</h5>
                    </div>
                    <div class="instagram-gellay">
                        <ul class="insta-feed">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var PAGENOW = 1;
            var PAGEMAX = @Count;
            $("main").addClass("bg-grey pt-80 pb-50");
            $("footer").toggleClass("bg-grey");
            LoadAuthorPosts(PAGENOW);
            LoadInstagramPost();

            $(".page-link").click(function () {
                if (!$(this).find("i").length) {
                    PAGENOW = parseInt($(this).html())
                }
                else {
                    var i = $(this).find("i");
                    if (i.hasClass("arrow_right")) {
                        if (PAGENOW != PAGEMAX) {
                            PAGENOW++;
                        }
                    }
                    else {
                        if (PAGENOW != 1) {
                            PAGENOW--;
                        }
                    }
                }

                LoadAuthorPosts(PAGENOW);
                $('html, body').animate({
                    scrollTop: $(".post-module-2").offset().top - 80
                }, 1000);
            });
        });

        function LoadAuthorPosts(PAGENOW) {
            $.ajax({
                url: "/Blog/GetAuthorPosts",
                method: "GET",
                dataType: "json",
                data: {
                    username: '@Model.Username',
                    pageNumber: PAGENOW
                },
                success: function (data) {
                    var head = '';
                    var html = '';

                    $(data).each(function (index, post) {
                        if (PAGENOW == 1) {
                            if (index < 2) {
                                head += '<article class="col-md-6 mb-40 wow fadeInUp animated">'
                                    + '<div class="post-card-1 border-radius-10 hover-up">'
                                    + '<div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(' + post.imageLink + ')">'
                                    + '<a class="img-link" href="/Blog/Single/' + post.link + '"></a>'
                                    + '<ul class="social-share">'
                                    + '<li><a href="#"><i class="elegant-icon social_share"></i></a></li>'
                                    + '<li><a class="fb" href="https://www.facebook.com/sharer/sharer.php?u=@Configuration["AppSetting:HostURL"]/Blog/Single/' + post.link + '" title="Chia sẻ lên Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>'
                                    + '<li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>'
                                    + '<li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>'
                                    + '</ul>'
                                    + '</div>'
                                    + '<div class="post-content p-30">'
                                    + '<div class="entry-meta meta-0 font-small mb-10">'
                                    + '<a href="/Blog/Category/' + post.categoryId + '"><span class="post-cat ' + post.categoryColor + '">' + post.category + '</span></a>'
                                    + '</div>'
                                    + '<div class="d-flex post-card-content">'
                                    + '<h5 class="post-title mb-20 font-weight-900">'
                                    + '<a href="/Blog/Single/' + post.link + '">' + post.title + '</a>'
                                    + '</h5>'
                                    + '<div class="post-excerpt mb-25 font-small text-muted">'
                                    + '<p>' + (post.content.length > 155 ? post.content.substr(0, post.content.lastIndexOf(' ', 152)) + '...' : post.content) + '</p>'
                                    + '</div>'
                                    + '<div class="entry-meta meta-1 float-left font-x-small text-uppercase">'
                                    + '<span class="post-on">' + ConvertToPostDate(post.createdDate) + '</span>'
                                    + '<span class="time-reading has-dot">' + post.readMinute + ' phút đọc</span>'
                                    + '<span class="post-by has-dot">' + post.views + ' lượt xem</span>'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>'
                                    + '</article>';
                            } else {
                                html += RenderHtml(post);
                            }
                        } else {
                            html += RenderHtml(post);
                        }
                    });

                    if (PAGENOW == 1) {
                        $("#divHead").show();
                        $("#author-post-page-1").html(head);
                    } else {
                        $("#divHead").hide();
                    }
                    $("#authorPosts").html(html);
                    $(".page-item").removeClass("active");
                    $(".page-link:contains(" + PAGENOW + ")").parent().addClass("active");
                }
            });
        }

        function RenderHtml(post) {
            return '<article class="hover-up-2 transition-normal wow fadeInUp animated">'
                + '<div class="row mb-40 list-style-2">'
                + '<div class="col-md-4">'
                + '<div class="post-thumb position-relative border-radius-5">'
                + '<div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(' + post.imageLink + ')">'
                + '<a class="img-link" href="/Blog/Single/' + post.link + '"></a>'
                + '</div>'
                + '<ul class="social-share">'
                + '<li><a href="#"><i class="elegant-icon social_share"></i></a></li>'
                + '<li><a class="fb" href="https://www.facebook.com/sharer/sharer.php?u=@Configuration["AppSetting:HostURL"]/Blog/Single/' + post.link + '" title="Chia sẻ lên Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>'
                + '<li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>'
                + '<li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>'
                + '</ul>'
                + '</div>'
                + '</div>'
                + '<div class="col-md-8 align-self-center">'
                + '<div class="post-content">'
                + '<div class="entry-meta meta-0 font-small mb-10">'
                + '<a href="/Blog/Category/' + post.categoryId + '"><span class="post-cat ' + post.categoryColor + '">' + post.category + '</span></a>'
                + '</div>'
                + '<h5 class="post-title font-weight-900 mb-20">'
                + '<a href="/Blog/Single/' + post.link + '">' + post.title + '</a>'
                + '</h5>'
                + '<div class="entry-meta meta-1 float-left font-x-small text-uppercase">'
                + '<span class="post-on">' + ConvertToPostDate(post.createdDate) + '</span>'
                + '<span class="time-reading has-dot">' + post.readMinute + ' phút đọc</span>'
                + '<span class="post-by has-dot">' + post.views + ' Lượt xem</span>'
                + '</div>'
                + '</div>'
                + '</div>'
                + '</div>'
                + '</article>';
        }
    </script>
}

<style>
    .author-info strong {
        margin-right: 8px;
    }
</style>